html, body {
  margin: 0;
  overflow: hidden;
  background: #1d1c1d;
}

.game-area {
  position: relative;
  margin: 20px auto;
  width: 500px;
  height: 500px;
  background: #1d1b24;
  border: 2px solid white;
}