html, body {
  margin: 0;
  overflow: hidden;
  background: #0f1128;
}

.game-area {
  position: relative;
  margin: 20px auto;
  width: 550px;
  height: 550px;
  background: #0f1128;
  border: 3px solid white;
}

.ModeButton {
  background-color: rgb(5, 5, 5);
  outline: none;
  cursor: pointer;
  color: white;
  font-family: inherit;
  font-size: 1.2em;
  padding: 10px 25px;
  margin: 10px 0;
}